* {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

.page-header {
    margin-top: 40px;
    margin-bottom: 84px;
}

.main-nav__list {
    display: flex;
    list-style-type: none;
}

.promo__content {
    padding-bottom: 162px;
}

.promo__main-title {
    margin-bottom: 17px;
}

.promo__desc {
    margin-bottom: 37px;
}

.promo__logos {
    margin-top: 97px;
    margin-bottom: 96px;
}
